*{
    margin: 0;
    padding: 0;
}
.nav-responsive{
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    background:rgb(40,116,240);
}

.fa{
    color: white;
}
.nav-search{
    margin: 0 auto;
    position: relative;
}
#search{
    margin: 0 auto;
    outline: none;
    font-size: 15px;
    padding:4px 10px ;
    border-radius: 10px;
    border: none;
}

.access a{
    font-size: 25px;
    padding:0 10px;
}

/* Body part */
.acard{
    text-decoration: none;
    color: black;
}
.acard:hover{
    color: cornflowerblue;
}
.mobileCard{
    padding: 10px;
}

/* footer */
footer{
    background: rgb(18, 29, 29);
    color: white;
    font-family: sans-serif; 
}
.footer{
    display: flex;
    justify-content: space-evenly;
    padding: 40px 30px;
    font-size: 15px;
}
.footer  h3{
    font-weight: 200;
    font-size: 18px;
    color: grey;
}
.footer ul li{
    list-style-type: none;
    line-height: 24px;
}
.footer ul li a{
    color: white;
    text-decoration: none;
}
.footer .social-media i{
    padding: 8px;
    font-size: 20px;
}
#copyright{
    text-align: center;
    background: rgb(39, 38, 38);
    padding: 8px 0;
}


